<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10644811370-qb7adtkebse4h9bhjigttg8tbo9bt4ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10644811370-qb7adtkebse4h9bhjigttg8tbo9bt4ip</string>
	<key>API_KEY</key>
	<string>AIzaSyAm4mpcTEo_VN5JReHe7mNggNLnkEdbULc</string>
	<key>GCM_SENDER_ID</key>
	<string>10644811370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intelbis.movee</string>
	<key>PROJECT_ID</key>
	<string>movee-flutter-client</string>
	<key>STORAGE_BUCKET</key>
	<string>movee-flutter-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10644811370:ios:2e9e7009ad01fd4539a413</string>
</dict>
</plist>